html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.clickable{
    cursor: pointer;   
}

.panel-heading span {
    margin-top: -20px;
    font-size: 15px;
}

.equations {
    text-align: left;
    padding: 5px;
    border: 1px solid #eee;
    border-radius: 7px;
    margin-bottom: 10px;
    box-shadow: 0 0 10px rgba(1,1,1,.3);
}
.equations b{
    position: relative;
    padding-left: 20px;
    color: #6631FD;
    cursor: pointer;
}
.equations b:after{
    content: "";
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #6631FD transparent transparent transparent;
    position: absolute;
    top: 6px;
    left: 4px;
}
b.freez:after{
    content: "";
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color:  transparent transparent transparent #E72525;
    position: absolute;
    top: 3px;
    left: 6px;
}
.equations p.answers{
    display: none;
    padding: 0 20px;
}



.unical {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 40px 60px;
      background-size:cover;
      background-position:center center;
      background-attachment:fixed;
}
.unical:after {
    content: "";
    position: absolute;
    top: 0; 
    bottom: 0;
    right: 0;
    left: 0;
    display: block;
    z-index: 1;
    background-color: rgba(1,1,1,.7);
}
.unical h3{
    text-align: center;
    margin: 15px auto;
    color: #e0a45a;
    z-index: 2;
    font-weight: 700;
    font-size: 60px;
}
.unical p{
    text-align: center;
    max-width: 75%;
    z-index: 2;
    font-size: 18px;
    margin: 0 auto;
    color: #fff;
    font-weight: 500;
}
.unical a{
    display: inline-block;
    padding: 0 15px;
    height: 30px;
    line-height: 30px;
    margin: 20px auto;
    z-index: 2;
    transition: .3s;
    border-radius: 5px;
    color: #fff;
    text-transform: uppercase;
    border: 0;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    background-color: #f5753c;
    box-shadow:  0 3px 2px #d4591d;
}
.unical a:hover{
    background-color: #f5753c;
    opacity: .8;
}

/* @media (max-width:767px) { */
    .unical{
        padding: 40px 0;
    }
    .unical h3{
        font-size: 26px;
    }
/* } */

.fa,.fa:after, .fa:before{
    font-family: 'FontAwesome';
}

.add-social-blocks{
    max-width: 750px;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    /* -webkit-box-pack: justify; */
    /* -webkit-justify-content: space-between; */
        /* -ms-flex-pack: justify; */
            justify-content: center;
}

.block-social{
    min-width: 220px;
    font-size: 16px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 50px;
    margin: 15px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    cursor: pointer;
    background-color: #527fa6;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.block-social:hover{
    background-color: #0e58b4;
    text-decoration: none;
}

.block-social i{
    margin-right: 7px;
    font-size: 20px;
    color: #fff;
}
.block-social p{
    margin-bottom: 0;
    color: #fff;
    font-weight: 700;
}

@media (max-width:767px) {
    .block-social{
        width: 100%;
    }
}
@media (max-width:767px) {
    .marvel-device.iphone6{
        max-width: 245px;
        width: 100%;
    }
    .marvel-device.iphone6 .sensor{
        left: 83px;
    }
}

.second .block-social {
    width: 20%;
    min-width: auto;
    margin: 15px;
}
.second .block-social p{
    display: none;
}

.second .block-social i{
    margin-right: 0;
}


.back-green .block-social{
    background-color: #3d884d;
}
.back-green .block-social:hover{
    background-color: #0aab27;
}

.back-green .block-social i{
    display: none;
}


.round.second .block-social{
    width: 60px;
    height: 60px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    margin: 10px;
}

.round.second .block-social i{
    font-size: 30px;
}




.new-social{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    max-width: 768px;
    margin: auto;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.new-social a{
    max-width: 50px;
    width: 100%;
    margin: 15px;
}
.new-social a img{
    width: 100%;
    margin: 0 auto;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.new-social a:hover img{
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
}




#myCarousel .item{
  /* height: 400px; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#myCarousel .carousel-indicators{
  display: flex;
  align-items: center;
  justify-content: center;
}

#myCarousel .carousel-indicators li{
  cursor: pointer;
  margin :4px;
  background-color: rgba(1,1,1,0)!important;
}

.carousel-indicators .active{
  width: 10px!important;
  height: 10px!important;
}

#myCarousel .carousel-indicators li.active{
  width: 10px!important;
  height: 10px!important;
  margin: 4px!important;
  background-color: #eee!important
}



#myCarouselAdvantage .item{
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#myCarouselAdvantage .carousel-indicators{
  display: flex;
  align-items: center;
  justify-content: center;
}

#myCarouselAdvantage .carousel-indicators li{
  cursor: pointer;
  margin :4px;
  background-color: rgba(1,1,1,0)!important;
}

#myCarouselAdvantage .carousel-indicators li.active{
  width: 10px!important;
  height: 10px!important;
  margin: 4px!important;
  background-color: #eee!important
}


#myCarouselProduct .item{
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#myCarouselProduct .carousel-indicators{
  display: flex;
  align-items: center;
  justify-content: center;
}

#myCarouselProduct .carousel-indicators li{
  cursor: pointer;
  margin :4px;
  background-color: rgba(1,1,1,0)!important;
}

#myCarouselProduct .carousel-indicators li.active{
  width: 10px!important;
  height: 10px!important;
  margin: 4px!important;
  background-color: #eee!important
}





#myCarouselPro .item{
  height: 180px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#myCarouselPro .carousel-indicators{
  display: flex;
  align-items: center;
  justify-content: center;
}

#myCarouselPro .carousel-indicators li{
  cursor: pointer;
  margin :4px;
  background-color: rgba(1,1,1,0)!important;
}

#myCarouselPro .carousel-indicators li.active{
  width: 10px!important;
  height: 10px!important;
  margin: 4px!important;
  background-color: #eee!important
}

.progressbar {
    counter-reset: step;
}
.progressbar li {
    list-style-type: none;
    width: 32%;
    float: left;
    font-weight: bold;
    font-size: 12px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    color: #7d7d7d;
}
.progressbar li:before {
    width: 30px;
    height: 30px;
    content: counter(step);
    counter-increment: step;
    line-height: 30px;
    border: 2px solid #7d7d7d;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background-color: white;
}
.progressbar li:after {
    width: 100%;
    height: 2px;
    content: '';
    position: absolute;
    background-color: #7d7d7d;
    top: 15px;
    left: -50%;
    z-index: -1;
}
.progressbar li:first-child:after {
    content: none;
}
.progressbar li.active {
    color: green;
}
.progressbar li.active:before {
    border-color: #55b776;
}
.progressbar li.active + li:after {
    background-color: #55b776;
}

.price-list {
    font-size: 1.45rem;
}

.has-text-centered {
    text-align: center!important;
}

.price-column .has-p-2 {
    border-bottom: 1px solid rgba(0,0,0,.1);
}

.has-p-2 {
    padding: 1rem!important;
}
.price-column {
    height: 100%;
}

.price-button{
    width:200px;
}

.radio_list{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
}

.radio_list_disabled{
    color: #9b9b9b;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
}