<div class="container has-mb-8 content" style="box-sizing: inherit; margin: 0px auto 1.5rem; position: relative; max-width: 1180px; width: 1170px; padding-left: 15px; padding-right: 15px; font-family: Roboto, sans-serif; font-size: 16.8px;">
<h3>1. Общие положения</h3>

<p>1.1. Настоящая Политика проводится ИП &laquo;Мелентьев К.И.&raquo; (далее &mdash; &laquo;Организация&raquo;) в отношении обработки и обеспечения защиты персональных данных физических лиц (субъектов персональных данных) на основании статьи 24 Конституции РФ и Федерального закона N 152-ФЗ &laquo;О персональных данных&raquo;.</p>

<p>1.2. Политика применяется в отношении всех персональных данных (субъектов), которые могут быть получены Организацией в процессе деятельности, в том числе клиентов Организации.</p>

<p>1.3. Цель Политики заключается в доведении до лиц, предоставляющих свои персональные данные, необходимой информации, позволяющей оценить, какие персональные данные и с какими целями обрабатываются Организацией, какие методы обеспечения их безопасности реализуются.</p>

<p>1.4. Политика обеспечивает защиту прав и свобод субъектов при обработке их персональных данных с использованием средств автоматизации или без использования таких средств, а также устанавливает ответственность лиц, имеющих доступ к персональным данным, за невыполнение требований, регулирующих обработку и защиту персональных данных.</p>

<p>1.5. Клиенты, используя сервисы и услуги Организации, сообщив Организации свои персональные данные, в том числе при посредничестве третьих лиц, признают своё согласие на обработку персональных данных в соответствии с настоящей Политикой.</p>

<p>1.6. Согласие на обработку персональных данных может быть отозвано субъектом персональных данных. В случае отзыва субъектом персональных данных согласия на обработку персональных данных оператор вправе продолжить обработку персональных данных без согласия субъекта персональных данных при наличии оснований, указанных действующим законодательством или, в противном случае, отказать в оказании услуги, в случае, если персональные данные необходимы для оказания такой услуги.</p>

<p>1.7. Настоящая Политика может быть изменена Организацией.</p>
</div>

<div class="container has-mb-8" style="box-sizing: inherit; margin-top: 0px; margin-right: auto; margin-left: auto; position: relative; max-width: 1180px; width: 1170px; padding-left: 15px; padding-right: 15px; font-family: Roboto, sans-serif; font-size: 16.8px; margin-bottom: 4rem !important;">
<h3 style="margin-left:0px; margin-right:0px">2. Понятие и состав персональных данных</h3>

<p>2.1. В целях настоящей Политики под персональными данными понимается любая информация, относящаяся к прямо или косвенно определенному физическому лицу (субъекту персональных данных).</p>

<p>2.2. В зависимости от субъекта персональных данных, Организация для осуществления своей деятельности и для выполнения своих обязательств может обрабатывать персональные данные следующих категорий субъектов:</p>

<p>&nbsp;</p>

<ul>
	<li>персональные данные работника Организации &mdash; информация, необходимая Организации в связи с трудовыми отношениями и касающиеся конкретного работника.</li>
	<li>данные Клиента &mdash; информация, необходимая Организации для выполнения своих обязательств в рамках договорных отношений с Клиентом и для выполнения требований законодательства Российской Федерации.</li>
	<li>персональные данные Клиента, предоставленные при регистрации на веб-сайте taplink.ru, в том числе при осуществлении Клиентом Заказов.</li>
	<li>данные, которые автоматически передаются Сервисам в процессе их использования с помощью установленного на устройстве пользователя программного обеспечения, в том числе IP-адрес, информация из cookie, информация о браузере пользователя (или иной программе, с помощью которой осуществляется доступ к Сервисам), время доступа, адрес запрашиваемой страницы.</li>
</ul>

<p>&nbsp;</p>
</div>

<div class="container has-mb-8" style="box-sizing: inherit; margin-top: 0px; margin-right: auto; margin-left: auto; position: relative; max-width: 1180px; width: 1170px; padding-left: 15px; padding-right: 15px; font-family: Roboto, sans-serif; font-size: 16.8px; margin-bottom: 4rem !important;">
<h3 style="margin-left:0px; margin-right:0px">3. Основания и цели обработки персональных данных</h3>

<p>3.1. Организация обрабатывает персональные данные для осуществления своей деятельности, в том числе оказания Клиентам услуг. Организация вправе:</p>

<p>&nbsp;</p>

<ul>
	<li>обрабатывать персональные данные Клиента без получения письменного согласия субъекта персональных данных в соответствии с ст 6. п. 1. пп.5 ФЗ &laquo;О персональных данных&raquo;, т.к. обработка персональных данных необходима для исполнения договора, стороной которого либо выгодоприобретателем или поручителем по которому является субъект персональных данных, а также для заключения договора по инициативе субъекта персональных данных или договора, по которому субъект персональных данных будет являться выгодоприобретателем или поручителем.</li>
	<li>осуществлять возложенные на Организацию законодательством Российской Федерации функции в соответствии с ФЗ &laquo;О Персональных данных&raquo; и иными законами и нормативными правовыми актами РФ, а также Уставом и нормативными актами Организации;</li>
	<li>собирать и хранить персональные данные Клиента, необходимые для оказания услуг, исполнения соглашений и договоров, исполнения обязательств перед Клиентом.</li>
</ul>

<p>&nbsp;</p>

<p>3.2. Организация может использовать персональные данные Клиента в следующих целях:</p>

<p>&nbsp;</p>

<ul>
	<li>оказание услуг Клиенту;</li>
	<li>идентификация Клиента в рамках договоров;</li>
	<li>связь с Клиентом в случае необходимости, в том числе направление предложений, уведомлений, информации и запросов, как связанных, так и не связанных с оказанием услуг, а также обработка заявлений, запросов и заявок Клиента;</li>
	<li>улучшение качества услуг, оказываемых Компанией;</li>
	<li>таргетирование рекламных материалов;</li>
	<li>проведение статистических и иных исследований на основе обезличенных данных;</li>
</ul>

<p>&nbsp;</p>
</div>

<div class="container has-mb-8" style="box-sizing: inherit; margin-top: 0px; margin-right: auto; margin-left: auto; position: relative; max-width: 1180px; width: 1170px; padding-left: 15px; padding-right: 15px; font-family: Roboto, sans-serif; font-size: 16.8px; margin-bottom: 4rem !important;">
<h3 style="margin-left:0px; margin-right:0px">4. Сроки обработки персональных данных</h3>

<p>4.1. Сроки обработки персональных данных определяются исходя из целей обработки в информационных системах Организации, в соответствии со сроком действия договора, соглашения с субъектом персональных данных.</p>
</div>

<div class="container has-mb-8" style="box-sizing: inherit; margin-top: 0px; margin-right: auto; margin-left: auto; position: relative; max-width: 1180px; width: 1170px; padding-left: 15px; padding-right: 15px; font-family: Roboto, sans-serif; font-size: 16.8px; margin-bottom: 4rem !important;">
<h3 style="margin-left:0px; margin-right:0px">5. Круг лиц допущенных к обработке персональных данных</h3>

<p>5.1. Для достижения целей статьи 3 настоящей Политики к обработке персональных данных допущены только те сотрудники Организации, на которых возложена такая обязанность в соответствии с их служебными (трудовыми) обязанностями. Доступ других сотрудников может быть предоставлен только в предусмотренных законом случаях. Организация требует от своих сотрудников соблюдения конфиденциальности и обеспечения безопасности персональных данных, при их обработке.</p>

<p>5.2. Организация вправе передать персональные данные третьим лицам в следующих случаях:</p>

<p>&nbsp;</p>

<ul>
	<li>Субъект персональных данных явно выразил свое согласие на такие действия, в том числе:<br />
	при оказании услуг Клиентам &ndash; принял условия публичного договора-оферты;</li>
	<li>Передача предусмотрена российским или иным применимым законодательством в рамках установленной законодательством процедуры;</li>
</ul>

<p>&nbsp;</p>

<p>При этом к приобретателю переходят все обязательства по соблюдению условий обеспечения безопасности персональных данных в соответствии с действующим законодательством Российской Федерации и международным соглашениям применительно к полученным им данным.</p>
</div>

<div class="container has-mb-8" style="box-sizing: inherit; margin-top: 0px; margin-right: auto; margin-left: auto; position: relative; max-width: 1180px; width: 1170px; padding-left: 15px; padding-right: 15px; font-family: Roboto, sans-serif; font-size: 16.8px; margin-bottom: 4rem !important;">
<h3 style="margin-left:0px; margin-right:0px">6. Методы обработки персональных данных</h3>

<p>6.1. В процессе предоставления услуг, при осуществлении внутрихозяйственной деятельности Организация использует автоматизированную и неавтоматизированную обработку персональных данных.</p>
</div>

<div class="container has-mb-8" style="box-sizing: inherit; margin-top: 0px; margin-right: auto; margin-left: auto; position: relative; max-width: 1180px; width: 1170px; padding-left: 15px; padding-right: 15px; font-family: Roboto, sans-serif; font-size: 16.8px; margin-bottom: 4rem !important;">
<h3 style="margin-left:0px; margin-right:0px">7. Реализация защиты персональных данных</h3>

<p>7.1. Деятельность Организации по обработке персональных данных в информационных системах неразрывно связана с защитой Организацией конфиденциальности полученной информации. Все работники Организации обязаны обеспечивать конфиденциальность персональных данных, а также иных конфиденциальных сведений, установленных Организацией, если это не противоречит действующему законодательству РФ.</p>

<p>7.2. Безопасность персональных данных при их обработке в информационных системах Организации обеспечивается с помощью системы защиты информации.</p>

<p>7.3. Обмен персональными данными при их обработке в информационной системе персональных данных осуществляется по защищенным каналам связи.</p>

<p>7.4. При обработке персональных данных в информационной системе персональных данных Организации обеспечиваются:</p>

<p>&nbsp;</p>

<ul>
	<li>проведение мероприятий, направленных на предотвращение несанкционированного доступа к персональным данным и (или) передача их лицам, не имеющим права доступа к такой информации;</li>
	<li>применение межсетевого экранирования;</li>
	<li>физическая защита помещений и технических средств, позволяющих осуществлять обработку персональных данных;</li>
	<li>своевременное обнаружение фактов несанкционированного доступа к персональным данным;</li>
	<li>недопущение физического воздействия на технические средства автоматизированных рабочих мест, в результате которого может быть нарушено их функционирование;</li>
	<li>возможность незамедлительного восстановления персональных данных, модифицированных и уничтоженных вследствие несанкционированного доступа к ним;</li>
	<li>постоянный антивирусный контроль;</li>
	<li>постоянный анализ защищенности персональных данных;</li>
	<li>использование атрибутов безопасности;</li>
	<li>контроль целостности программной среды обработки персональных данных;</li>
	<li>иные средства и меры в соответствии с действующим законодательством.</li>
</ul>
</div>
